html {
    font-size: 62.5%;
}

body {
    background-color: #0f111d;
    overflow: hidden;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #f5f5f5;
    font-family: 'Inter', 'Rajdhani', sans-serif;
}
:root {
    --primary-color: #eebb44;
    --secondary-color: #dddddd;
    --background-color: #161929;
    --text-color: #f5f5f5;
    --hover-color: #b08e3e;
    --default-font-weight: 550;
    --orange-off-shield: #ff8c32;  /* Laranja principal do escudo */
    --gold-color-ofshield: #ffcc66;    /* Dourado suave para animação */
    /* === Base Colors === */
    --color-background: #120d23;
    --color-surface: #1c1331;
    --color-white: #ffffff;

    /* === Brand Colors === */
    --color-primary: #00d2c2;                     /* Para botão principal */
    --color-primary-hover: #00b2a7;
    
    --color-secondary: #9f74ff;                   /* Para botão “Entrar” */
    --color-secondary-hover: #7e58e1;

    --color-accent-orange: #ff9900;               /* Escudo/destaques */
    --color-accent-orange-dark: #d87d00;

    /* === Text === */
    --text-heading: #ffffff;
    --text-subheading: #bca3f5;
    --text-body: #cccccc;
    --text-button: #ffffff;

    /* === Buttons === */
    --button-primary-bg: var(--color-primary);
    --button-primary-hover-bg: var(--color-primary-hover);
    --button-primary-text: var(--text-button);

    --button-entrar-bg: var(--color-secondary);
    --button-entrar-hover-bg: var(--color-secondary-hover);
    --button-entrar-text: var(--text-button);

    /* === Typography === */
    --font-family-base: 'Inter', sans-serif;
    /* === Shadows === */
    --shadow-glow-orange: 0 0 16px var(--color-accent-orange);
    --shadow-glow-cyan: 0 0 16px var(--color-primary);

    /* === Transitions === */
    --transition-fast: 0.2s ease-in-out;
    --transition-slow: 0.4s ease;
}

.get-primary-color {
    display: inline-block;
    color: var(--color-primary-hover);
    text-shadow: 1px 1px 6px var(--color-secondary-hover);
}

.for-start-trade-button-and-representative-logo {
    margin-top: 19rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem ;

}

.for-start-trade-button-and-representative-logo::before {
    content: "";
    position: absolute;
    top: -35%;
    width: 100%;
    height: 130%;
    background: radial-gradient(ellipse, var(--color-surface), transparent 50%);
    z-index: -1;
    pointer-events: none;
}



.logo-that-represents-the-site-ideia {
    width: 80%;
    max-height: 100%;
    background-size: cover; /* ou cover */
    background-repeat: no-repeat;
    background-position: left;
    object-fit: contain; /* ou cover, dependendo do efeito */
    transition: all 1s ease-in-out;
    z-index: 1;
}

.safetrade-logo {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    cursor: pointer;
    animation: pulse 5s ease infinite;
    z-index: -1;
}


.logo-that-represents-the-site-ideia::before {
    content: "";
    position: absolute;
    background: radial-gradient(circle, #4a3d64, transparent 60%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 1%;
    left: 19%;
    transition: all 2s ease-in-out;
    filter: blur(50px);
    z-index: -1;
    pointer-events: none;
  }

  .bubbles {
    position: absolute;
    display: flex;
    gap: 5rem;
    top: 70%;
    left: 59%;
    z-index: -3;
  }

  .bubbles span {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    animation-fill-mode: both;
    opacity: 0; /* garante que comece invisível */
    background: var(--color-secondary-hover);
    box-shadow: 0 0 10px var(--color-secondary-hover), 0 0 50px var(--color-secondary-hover), 0 0 100px var(--color-secondary-hover);
    animation: bubbleShake 5s linear infinite;
    --x-move: 0px; /* default */
  }

  .bubbles span:nth-of-type(even) {
    background: var(--primary-color);
  }
  .bubbles span:nth-child(1) {
    --x-move: -10px;
    animation-delay: 0s;
    animation-duration: 4s;
  }
  .bubbles span:nth-child(2) {
    --x-move: 15px;
    animation-delay: 0.3s;
    animation-duration: 5s;
  }
  .bubbles span:nth-child(3) {
    --x-move: -20px;
    animation-delay: 0.6s;
    animation-duration: 3.5s;
  }
  .bubbles span:nth-child(4) {
    --x-move: 10px;
    animation-delay: 0.9s;
    animation-duration: 6s;
  }
  .bubbles span:nth-child(5) {
    --x-move: -15px;
    animation-delay: 0.5s;
    animation-duration: 4.5s;
  }
  .bubbles span:nth-child(6) {
    --x-move: -25px;
    animation-delay: 0.5s;
    animation-duration: 4.5s;
  }
  .bubbles span:nth-child(7) {
    --x-move: -25px;
    animation-delay: 0.3s;
    animation-duration: 5s;
  }
  .bubbles span:nth-child(8) {
    --x-move: 22px;
    animation-delay: 0.4s;
    animation-duration: 3s;
  }


.some-informations-and-start-trade-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.some-informations-and-start-trade-button h3 {
  font-size: 3rem;
  color: var(--text-subheading);
  letter-spacing: 0.3rem;
  font-weight: 500;
}

.some-informations-and-start-trade-button h2 {
  font-size: 8rem;
  margin-top: 3rem;
  color: var(--text-color);
  letter-spacing: 0.8px;
  font-weight: 750;
}

.some-informations-and-start-trade-button p {
  margin-top: 2.3rem;
  font-size: 2.3rem;
  color: var(--text-subheading);
  letter-spacing: 1.1px;
}

.start-trade-main-button {
    margin-top: 4rem;
    background: var(--color-primary);
    width: 30%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    border-radius: 2px;
    animation: pulse 1.5s infinite;
    transition: all 0.7s ease-in-out;
}

.start-trade-main-button:hover {
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
    background: var(--color-primary-hover);
    color: #0f111d;
    border-color: #b08e3e;
    height: calc(6rem + 1rem);
    animation: shakebutton 1.5s infinite;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.start-trade-main-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-trade-main-button a span{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--background-color);
    font-weight: var(--default-font-weight);
}

.scroll-down-arrow {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    font-size: 6rem;
    color: var(--primary-color);
    cursor: pointer;
    animation: floatGlow 2s ease-in-out infinite;
    transition: all 0.5s ease;
  }

  .scroll-down-arrow span {
    display: inline-block;
    animation: bounce 2s infinite;
    text-shadow: 0 0 8px var(--primary-color);
  }

  .scroll-down-arrow:hover span {
    text-shadow: 0 0 16px var(--hover-color);
    transform: scale(1.1);
    color: var(--hover-color);
  }

.scroll-down-arrow.hidden {
    opacity: 0;
    pointer-events: none;
}

.scroll-down-arrow:hover span {
    text-shadow: 0 0 16px var(--hover-color);
    transform: scale(1.1);
    color: var(--hover-color);
  }

.scroll-enabled {
    overflow-y: auto;
    height: auto;
}

@keyframes shakeimage {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }

  30% {
    transform: scale(1.05);
    filter: brightness(1.1);
  }

  60% {
    transform: scale(0.98);
    filter: brightness(1.05);
  }

  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

@keyframes bubbleShake {
  0% {
    transform: translate(0, 0) scale(0) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: translate(var(--x-move), -90vh) scale(1) rotate(360deg);
    opacity: 1;
  }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-10px);
      opacity: 0.6;
    }
  }
  
  @keyframes floatGlow {
    0% {
      text-shadow: 0 0 8px var(--primary-color);
    }
    50% {
      text-shadow: 0 0 20px var(--primary-color);
    }
    100% {
      text-shadow: 0 0 8px var(--primary-color);
    }
  }

  @keyframes pulseimage {
    0% {
      transform: perspective(64px) rotateX(40deg) scale(1.1, 0.35);
    }
    50% {
      transform: perspective(64px) rotateX(40deg) scale(1.2, 0.35);
    }
    100% {
      transform: perspective(64px) rotateX(40deg) scale(1.1, 0.35);
    }
  }
  

@keyframes shakebutton {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(1rem);
    }
    50% {
        transform: translateX(-1rem);
    }
    75% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Tamanho inicial */
    }
    50% {
        transform: scale(1.02); /* Crescimento sutil */
    }
    100% {
        transform: scale(1.01); /* Retorna ao tamanho inicial */
    }
}

@keyframes lightPulse {
    0% {
        opacity: 0;
        transform: translate(0, 0) scale(1);
    }
    50% {
        opacity: 1;
        transform: translate(20%, 20%) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translate(0, 0) scale(1);
    }
}