html {
    font-size: 62.5%;
}

body {
    background-color: #0f111d;
    overflow: hidden;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #f5f5f5;
    font-family: 'Inter', 'Rajdhani', sans-serif;
}
:root {
    --primary-color: #eebb44;
    --secondary-color: #dddddd;
    --background-color: #0f111d;
    --text-color: #f5f5f5;
    --hover-color: #b08e3e;
    --default-font-weight: 550;
}

h3 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    letter-spacing: 0.10rem;
    font-weight: 500;
}
h2 {
    font-size: 5.5rem;
    color: var(--text-color);
    letter-spacing: 0.7px;
    font-weight: 750;
}

p {
    margin-top: 2rem;
    font-size: 1.8rem;
    letter-spacing: 1.1px;
}

.get-primary-color {
    display: inline-block;
    color: var(--primary-color);
}

.for-start-trade-button-and-representative-logo {
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.for-start-trade-button-and-representative-logo::before {
    content: "";
    position: absolute;
    top: -35%; /* Baixo */
    left: -75%; /* Esquerda */
    width: 120%;
    height: 200%;
    background: radial-gradient(circle, #1b1f35, transparent 70%);
    animation: lightPulse 30 ease-in-out infinite;
    z-index: -1;
}

.logo-that-represents-the-site-ideia {
    width: 100%;
    height: auto;
    background-image: url('/images/logotrade.png');
    background-size: contain; /* ou cover */
    background-repeat: no-repeat;
    background-position: left;
    object-fit: contain; /* ou cover, dependendo do efeito */
    transition: all 0.5s ease-in-out;
}
.logo-that-represents-the-site-ideia:hover {
    position: relative;
    width: 105%;

}

.logo-that-represents-the-site-ideia::before {
    content: "";
    position: absolute;
    background: radial-gradient(circle, var(--primary-color), transparent 70%);
    width: 70rem;
    height: 35rem;
    border-radius: 50%; /* Forma circular */
    top: 50%; /* Centraliza verticalmente */
    left: 69%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%) perspective(64px) rotateX(40deg) scale(1, 0.35);
    transition: all 2s ease-in-out; /* Transição suave */
    filter: blur(50px); /* Suaviza o efeito */
    animation: pulseimage 10s ease-in-out infinite; /* Animação de pulsação */
    z-index: -1; /* Fica atrás do conteúdo principal */
    opacity: 0.8; /* Transparência suave */
}

.logo-that-represents-the-site-ideia:hover::before {
    content: "";
    position: absolute;
    background: radial-gradient(circle, var(--primary-color), transparent 70%);
    width: 70rem; /* Aumenta o tamanho */
    height: 35rem;
    border-radius: 75%; /* Forma circular */
    top: 50%; /* Mantém a posição vertical */
    left: 50%; /* Mantém a posição horizontal */
    transform: translate(-50%, -50%) perspective(64px) rotateX(40deg) scale(1, 0.35);
    transition: all 2s ease-in-out; /* Transição suave */
    filter: blur(50px); /* Suaviza o efeito */
    opacity: 0.8; /* Transparência suave */
}

.some-informations-and-start-trade-button {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.start-trade-main-button {
    margin-top: 2rem;
    background: var(--primary-color);
    width: 45%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    animation: pulse 1.5s infinite;
    transition: all 0.7s ease-in-out;
}

.start-trade-main-button:hover {
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
    background: var(--hover-color);
    color: #0f111d;
    border-color: #b08e3e;
    height: calc(6rem + 1rem);
    animation: shakebutton 1.5s infinite;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.start-trade-main-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-trade-main-button a span{
    font-size: 1.8rem;
    color: var(--background-color);
    font-weight: var(--default-font-weight);
}

.scroll-down-arrow {
    position: absolute;
    font-size: 10rem;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    color: var(--primary-color);
    cursor: pointer;
    animation: blink 1.5s infinite; /* Animação de piscar */
    transition: all 2s ease-in-out;
}

.scroll-down-arrow.hidden {
    opacity: 0;
    pointer-events: none;
}

.scroll-enabled {
    overflow: auto;
    height: auto;
}

@keyframes blink {
    0% {
        opacity: 1;
        bottom: 1rem;
    }
    50% {
        opacity: 0.5;
        bottom: 1.5rem;
    }

}

@keyframes pulseimage {
    0% {
        transform: translate(-50%, -50%) scale(1); /* Posição inicial */
        background: radial-gradient(circle, var(--primary-color), transparent 70%);
        opacity: 0.5; /* Transparência inicial */
        filter: blur(35px); /* Desfoque inicial */
    }
    25% {
        transform: translate(-50%, -50%) scale(1.05); /* Crescimento sutil */
        background: radial-gradient(circle, var(--secondary-color), transparent 70%);
        opacity: 0.6; /* Aumenta a opacidade */
        filter: blur(40px); /* Desfoque moderado */
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1); /* Crescimento controlado */
        background: radial-gradient(circle, var(--hover-color), transparent 70%);
        opacity: 0.7; /* Aumenta levemente a opacidade */
        filter: blur(45px); /* Desfoque mais suave */
    }
    75% {
        transform: translate(-50%, -50%) scale(1.1); /* Retorna ao tamanho intermediário */
        background: radial-gradient(circle, var(--secondary-color), transparent 70%);
        opacity: 0.6; /* Reduz a opacidade */
        filter: blur(35px); /* Reduz o desfoque */
    }
    100% {
        transform: translate(-50%, -50%) scale(1.1); /* Retorna ao estado inicial */
        background: radial-gradient(circle, var(--primary-color), transparent 70%);
        opacity: 0.5; /* Retorna à transparência inicial */
        filter: blur(30px); /* Retorna ao desfoque inicial */
    }
}

@keyframes shakebutton {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(1rem);
    }
    50% {
        transform: translateX(-1rem);
    }
    75% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Tamanho inicial */
    }
    50% {
        transform: scale(1.02); /* Crescimento sutil */
    }
    100% {
        transform: scale(1.01); /* Retorna ao tamanho inicial */
    }
}

@keyframes lightPulse {
    0% {
        opacity: 0;
        transform: translate(0, 0) scale(1);
    }
    50% {
        opacity: 1;
        transform: translate(20%, 20%) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translate(0, 0) scale(1);
    }
}