html {
    font-size: 62.5%;
}

body {
    background-color: #0f111d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #f5f5f5;
    font-family: 'Inter', 'Rajdhani', sans-serif;
}

:root {
    --primary-color: #eebb44;
    --secondary-color: #dddddd;
    --background-color: #0f111d;
    --text-color: #f5f5f5;
    --hover-color: #b08e3e;
}



.header-site {
    padding-top: 1rem;
    display: flex;
    height: 7rem;
}

.header-organization {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pre-margin-auto {
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.logo-and-site-name {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.logo-and-site-name h1 {
    transition: 0.4s all ease-in-out;
    font-weight: bold;
    font-size: 3.7rem;
    color: #e6e6e6;
}

.logo-and-site-name span {
    color: #eebb44;
}

.logo-and-site-name img {
    object-fit: contain;
    width: 8rem;
    height: 8rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */
}


.organization-of-options-and-sugestions {
    display: flex; /* Já está configurado */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 2.5rem; /* Espaçamento entre os itens */
    padding: 0; /* Remove qualquer padding extra */
}

nav {
    width: 100%;
    display: flex;
}
nav ul li a {
    font-size: 1.55rem;
    font-weight: bold;
    color: #dddddd;
    transition: 0.4s all ease-in-out;
}

nav ul li a:hover {
    color: #eebb44;
    letter-spacing: 0.5px;
}

nav ul li:nth-child(4) a {
    color: rgb(13, 200, 13);
}

.login-space {
    display: flex;
    gap: 1.7rem;
}

.button-for-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    width: 10rem;
    border: 1px solid #f5f5f5;
    border-radius: 0.35rem;
}

.button-for-header span {
    font-size: 1.55rem;

}

.sign-in-button {
    padding: 0;
    background: #eebb44;
    border: 1px solid rgb(156, 112, 30);
    transition: 0.7s all ease-in-out;
    box-shadow:  0 -1px 2px rgb(156, 112, 30),
             0px 1px 2px rgb(156, 112, 30),
             1px 0px 2px rgb(156, 112, 30),
             -1px 0px 2px rgb(156, 112, 30);
}
.sign-in-button:hover {
    background: #b08e3e;
    border: 1px solid rgb(156, 112, 30);
    box-shadow: inset 0 -1px 2px rgb(156, 112, 30),
            inset 0px 1px 2px rgb(156, 112, 30),
            inset 1px 0px 2px rgb(156, 112, 30),
            inset -1px 0px 2px rgb(156, 112, 30);
}

.sign-in-button span {
    color: #11121a;
    font-weight: bold;
    transition: 0.4s all ease-in-out;
}

.sign-in-button:hover span {
    color: #171a2c;
    letter-spacing: 0.05rem;
}

.deposit-button {
    background: none;
    border: 1px solid #dddddd ;
    transition: all 0.7s ease-in-out;
    box-shadow: -0.8px -0.8px 1px #dddddd,
        0.8px 0.8px 1px #dddddd;
}

.deposit-button:hover {
    box-shadow: inset -1px -1px 2px #dddddd,
        inset 1px 1px 2px #dddddd;
    background: #0f111d;
}

.deposit-button span{
    transition: 0.4s all ease-in-out;
}
.deposit-button:hover span{
    letter-spacing: 0.05rem;
}
