<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Trade</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="header-site">
        <div class="header-organization pre-margin-auto">
            <div>
                <a href="" class="logo-and-site-name">
                <img src="/imagems/safetrade.png" alt="safetrade-logo">
                <h1>Safe Trade</h1>
            </a>
            </div>
            <div class="options-and-sugetions">
                <nav>
                    <ul class="organization-of-options-and-sugestions">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Leaderboard</a></li>
                        <li><a href="">Raffles</a></li>
                    </ul>
                </nav>
            </div>
            <div class="login-space">
                <a href="#" class="button-for-header deposit-button"><span>Deposit</span></a>
                <a href="#" class="button-for-header sign-in-button"><span>Sign in</span></a>
            </div>
        </div>
    </header>
</body>
</html>