<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Trade</title>
    <link rel="icon" href="/images/safeshieldpurplenobg.png" type="image/png">
    <link rel="stylesheet" href="/css/headercss.css">
    <link rel="stylesheet" href="/css/buttonandimg.css">
    <link rel="stylesheet" href="/css/stepbystep.css">
</head>
<body>
    <div class="first-contact">
        <header class="header-site">
            <div class="header-organization">
                <div>
                    <a href="" class="logo-and-site-name">
                    <img src="/images/safeshieldpurplenobg.png" alt="safetrade-logo">
                    <h1>SAFETRADE</span></h1>
                </a>
                </div>
                <div class="options-and-sugestions">
                    <nav>
                        <ul class="organization-of-options-and-sugestions">
                            <li><a href="">Sobre nós</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Sorteios</a></li>
                            <li><a href="">Suporte</a></li>
                        </ul>
                    </nav>
                    <div class="login-space">
                        <a href="#" class="button-for-header"><span>Entrar</span></a>
                    </div>
                </div>
            </div>
        </header>
        <section class="for-start-trade-button-and-representative-logo pre-margin-auto">
            <main class="some-informations-and-start-trade-button">
                <h3>O intermédio mais seguro para compra ou venda de skins</h3>
                <h2>A SAFETRADE é uma<br>plataforma de<br>intermediação de trocas seguras de skins.</h2>
                <p>Garantimos que tanto o pagamento quanto o envio das skins sejam<br>confirmados antes da troca ser finalizada.<br>Segurança em todas as partes das transações.</p>
                <div class="start-trade-main-button"><a href=""><span>Iniciar Troca</span></a></div>
            </main>
            <div class="logo-that-represents-the-site-ideia">
                <img src="/images/safeshieldpurplenobg.png" alt="safetrade-logo" class="safetrade-logo">
                <div class="bubbles">
                    <span style="--1:11"></span>
                    <span style="--1:14"></span>
                    <span style="--1:17"></span>
                    <span style="--1:19"></span>
                    <span style="--1:21"></span>
                    <span style="--1:24"></span>
                    <span style="--1:19"></span>
                    <span style="--1:21"></span>
                    <span style="--1:24"></span>
                </div>
            </div>
        </section>
        <div class="scroll-down-arrow">
            <span>&#x2193;</span>
        </div>
        <script src="js/arrowunlock.js"></script>
    </div>
    <section class="ideia-of-safetrade-step-by-step">
        <div class="container-for-informations-of-step-by-step pre-margin-auto">
            <h3>Como funciona</h3>
            <div class="fullcontainer-for-steps">
                <section class="container-for-steps">
                    <article class="step-container">
                        <div class="number-side">
                            <img src="images/createaccountnobg.png" alt="image representing a step by step guide on how to use the website">
                        </div>
                        <section class="informations-side">
                            <h4>Conecte sua conta</h4>
                            <p>Entre com sua Steam para sincronizar seu inventário com a SAFETRADE.<br><br>É rápido, seguro e necessário para começar a negociar</p>
                        </section>
                    </article>
                    <article class="step-container">
                        <div class="number-side">
                            <img src="images/starttradenobg.png" alt="image representing a step by step guide on how to use the website">
                        </div>
                        <section class="informations-side">
                            <h4>Comece o trade</h4>
                            <p>Clique em ‘Iniciar Troca’ para abrir uma sala exclusiva e protegida.<br><br>Aqui, só você e a pessoa convidada podem interagir</p>
                        </section>
                    </article>
                    <article class="step-container">
                        <div class="number-side">
                            <img src="images/sharelinknobg.png" alt="image representing a step by step guide on how to use the website">
                        </div>
                        <section class="informations-side">
                            <h4>Compartilhe seu link</h4>
                            <p>Copie o link gerado e envie para quem você quer negociar.<br><br>Só quem tiver esse link poderá acessar a sala.</p>
                        </section>
                    </article>
                    <article class="step-container">
                        <div class="number-side">
                            <img src="images/setexchangenobg.png" alt="image representing a step by step guide on how to use the website">
                        </div>
                        <section class="informations-side">
                            <h4>Defina a troca</h4>
                            <p>Selecione o que cada parte vai oferecer: skins ou saldo em dinheiro.<br><br>Transparente e sem surpresas.</p>
                        </section>
                    </article>
                    <article class="step-container">
                        <div class="number-side">
                            <img src="images/confirmnobg.png" alt="image representing a step by step guide on how to use the website">
                        </div>
                        <section class="informations-side">
                            <h4>Confirme</h4>
                            <p>Revise os itens e valores envolvidos. Depois, confirme com um clique.<br><br>A plataforma garante a proteção dos dois lados.</p>
                        </section>
                    </article>
                    <article class="step-container">
                        <div class="number-side">
                            <img src="images/sucesstradenobg.png" alt="image representing a step by step guide on how to use the website">
                        </div>
                        <section class="informations-side">
                            <h4>Troca feita</h4>
                            <p>Finalizada a transação, ambas as partes recebem seus itens ou pagamentos.<br><br>E de quebra, participam dos sorteios mensais da SAFETRADE.</p>
                        </section>
                    </article>
                </section>
            </div>
        </div>
        <div class="space-for-the-video pre-margin-auto">
            <section class="container-for-video">
                
            </section>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>