<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Trade</title>
    <link rel="icon" href="/images/logoprincipalsembackground.png" type="image/png">
    <link rel="stylesheet" href="/css/headercss.css">
    <link rel="stylesheet" href="/css/buttonandimg.css">
    <link rel="stylesheet" href="/css/stepbystep.css">
</head>
<body> 
    <div class="first-contact">
        <header class="header-site">
            <div class="header-organization pre-margin-auto">
                <div>
                    <a href="" class="logo-and-site-name">
                    <img src="/images/logoprincipalsembackground.png" alt="safetrade-logo">
                    <h1>SAFETRADE</span></h1>
                </a>
                </div>
                <div class="options-and-sugetions">
                    <nav>
                        <ul class="organization-of-options-and-sugestions">
                            <li><a href="">Ínicio</a></li>
                            <li><a href="">Sobre nós</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Sorteios</a></li>
                            <li><a href="">Ranking</a></li>
                            <li><a href="">Suporte</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="login-space">
                    <a href="#" class="button-for-header deposit-button"><span>Depositar</span></a>
                    <a href="#" class="button-for-header sign-in-button"><span>Entrar</span></a>
                </div>
            </div>
        </header>
        <section class="for-start-trade-button-and-representative-logo pre-margin-auto">
            <main class="some-informations-and-start-trade-button">
                <h3>O intermédio mais seguro para compra ou venda de skins</h3>
                <h2>A <span class="get-primary-color">SAFETRADE</span> é uma<br>plataforma de<br>intermediação de trocas seguras de skins de CS2, Dota2,<br> Team Fortress 2 e Rust</h2>
                <p>Garantimos que tanto o pagamento quanto o envio das skins sejam confirmados antes da troca ser finalizada.<br>Segurança em todas as partes das transações.</p>
                <div class="start-trade-main-button"><a href=""><span>Iniciar Troca</span></a></div>
            </main>
            <div class="logo-that-represents-the-site-ideia">
                <img src="/images/logotrade.png" alt="safetrade-logo">
                <div class="bubbles">
                    <span style="--1:11"></span>
                    <span style="--1:14"></span>
                    <span style="--1:17"></span>
                    <span style="--1:19"></span>
                    <span style="--1:21"></span>
                    <span style="--1:24"></span>
                    <span style="--1:19"></span>
                    <span style="--1:21"></span>
                    <span style="--1:24"></span>
                </div>
            </div>
        </section>
        <div class="scroll-down-arrow">
            <span>&#x2193;</span>
        </div>
        <script src="js/arrowunlock.js"></script>
    </div>
    <section class="step-by-step-we-ideia">
        <div class="container-for-the"></div>
        <h3>Como funciona</h3>
    </section>
</body>
</html>